###############################
# EditorConfig Options        #
###############################

root = true

# All files
[*]
indent_style = space

# Make files
[Makefile]
indent_style = tab

# JSON files
[*.json]
indent_size = 2

# YAML files
[*.{yml,yaml}]
indent_size = 2

# Xml files
[*.{xml,html,svg}]
indent_size = 2

# Code files
[*.{ts,js}]
indent_size = 4
end_of_line = lf
charset = utf-8-bom
trim_trailing_whitespace = true
insert_final_newline = true
