# --------------------------------------------------------------------------------------------------
# Files to ignore in git.
# https://git-scm.com/docs/gitignore
# --------------------------------------------------------------------------------------------------

# Npm modules
node_modules/

# Build output
build/
tsout/
coverage/
junit.xml
