#svg-display .nodeBackground {
    fill: #999;
    rx: 10;
    ry: 10;
    stroke: #000;
    stroke-width: 4;
}

#svg-display .nodeTypeText {
    text-anchor: middle;
    font-weight: bold;
}

/* Field backgrounds */
#svg-display .stringValueBackground, #svg-display .stringArrayValueBackground {
    fill: #696;
    rx: 10;
    ry: 10;
    stroke: #000;
    stroke-width: 2;
}

#svg-display .numberValueBackground, #svg-display .numberArrayValueBackground {
    fill: #669;
    rx: 10;
    ry: 10;
    stroke: #000;
    stroke-width: 2;
}

#svg-display .booleanValueBackground, #svg-display .booleanArrayValueBackground {
    fill: #966;
    rx: 10;
    ry: 10;
    stroke: #000;
    stroke-width: 2;
}

#svg-display .nodeValueBackground, #svg-display .nodeArrayValueBackground {
    fill: #999966;
    rx: 10;
    ry: 10;
    stroke: #000;
    stroke-width: 2;
}

#svg-display .nodeFieldName {
    font-weight: bold;
}

/* Field values */
#svg-display .stringFieldValue {
    background-color: #DDD;
    width: 90%;
}

#svg-display .numberFieldValue {
    background-color: #DDD;
    width: 90%;
}

#svg-display .booleanFieldValue {
    background-color: #DDD;
    cursor: pointer;
}

#svg-display .nodeConnection {
    stroke: #000;
    stroke-width: 4;
    fill: none;
}

#svg-display .fieldValueButton:hover {
    fill: #FFF;
    cursor: pointer;
}

#svg-display .fieldValueButton {
    fill: #999;
}

/* Number spinners cause more problems then they are worth in our case. For example in Safari they
render in completely random locations when used inside a svg foreign-object. */
#svg-display input::-webkit-outer-spin-button,
#svg-display input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#svg-display input[type=number] {
    -moz-appearance: textfield;
}
