#svg-display .node-background {
    fill: #999;
    rx: 8px;
    ry: 8px;
    stroke: #000;
    stroke-width: 2px;
}

#svg-display .nonenode-background {
    fill: #555;
    rx: 8px;
    ry: 8px;
    stroke: #000;
    stroke-width: 2px;
}

#svg-display .node-type {
    font-weight: bold;
    font-size: 10px;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    border-radius: 4px;
    background-color: #DDD;
    cursor: pointer;
}

/* Tooltip */
#svg-display .node-info:hover .node-tooltip {
    visibility: visible;
}

#svg-display .node-info .node-tooltip {
    visibility: hidden;
}

#svg-display .node-tooltip-text {
    display: inline-block;
    font-size: 10px;
    line-height: 12px;
    padding: 5px;
}

#svg-display .node-tooltip-background {
    fill: #DDD;
    stroke: #000;
    stroke-width: 2px;
    rx: 10px;
    ry: 10px;
}

/* Node name */
#svg-display .node-name {
    background: none;
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#svg-display .node-name-button {
    cursor: pointer;
}

/* Field backgrounds */
#svg-display .string-value-background, #svg-display .stringArray-value-background {
    fill: #696;
    rx: 5px;
    ry: 5px;
    stroke: #000;
    stroke-width: 2px;
}

#svg-display .number-value-background, #svg-display .numberArray-value-background {
    fill: #669;
    rx: 5px;
    ry: 5px;
    stroke: #000;
    stroke-width: 2px;
}

#svg-display .boolean-value-background, #svg-display .booleanArray-value-background {
    fill: #966;
    rx: 5px;
    ry: 5px;
    stroke: #000;
    stroke-width: 2px;
}

#svg-display .node-value-background, #svg-display .nodeArray-value-background {
    fill: #999966;
    rx: 5px;
    ry: 5px;
    stroke: #000;
    stroke-width: 2px;
}

#svg-display .fieldname {
    font-weight: bold;
    white-space: pre;
    pointer-events: none;
    margin: 0px;
    padding: 2px;
    border: 0px;
    box-sizing: border-box;
}

/* Field values */
#svg-display .string-value {
    background-color: #DDD;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 2px;
    border: 0px;
    border-radius: 4px;
    box-sizing: border-box;
}

#svg-display .number-value {
    background-color: #DDD;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 2px;
    border: 0px;
    border-radius: 4px;
    box-sizing: border-box;
}

#svg-display .enum-value {
    background-color: #DDD;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#svg-display .boolean-value {
    background-color: #DDD;
    cursor: pointer;
    display: block;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#svg-display .connection {
    stroke: #000;
    stroke-width: 4;
    fill: none;
}

#svg-display .fieldvalue-button:hover {
    fill: #FFF;
    cursor: pointer;
}

#svg-display .fieldvalue-button {
    fill: #999;
}

/* Number spinners cause more problems then they are worth in our case. For example in Safari they
render in completely random locations when used inside a svg foreign-object. */
#svg-display input::-webkit-outer-spin-button,
#svg-display input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#svg-display input[type=number] {
    -moz-appearance: textfield;
}
