@import url("nodestyle.css");
@import url("toolboxstyle.css");

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #444;
}

.error {
    color: #FFF;
}

#svg-display {
    width: 100%;
    height: 100%;
}
