html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #444;
}

.error {
    color: #FFF;
}

.nodeBackground {
    fill: #999;
    rx: 10;
    ry: 10;
    stroke: #000;
    stroke-width: 4;
}

.nodeFieldBackground {
    fill: #595;
    rx: 10;
    ry: 10;
    stroke: #000;
    stroke-width: 2;
}

.nodeConnection {
    stroke: #000;
    stroke-width: 4;
    fill: none;
}

.nodeTypeText {
    text-anchor: middle;
    font-weight: bold;
    dominant-baseline: middle;
}

.nodeFieldName {
    dominant-baseline: middle;
}

.toolbox {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 75px;
    border-radius: 8px;
    border: 4px solid #000;
    background-color: #999;
}

.toolbox-button {
    width: 100%;
}

#svg-display {
    width: 100%;
    height: 100%;
}
