html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #444
}

.error {
    color: #FFF;
}

.nodeBackground {
    fill: #999;
    rx: 8;
    ry: 8;
    stroke: #000;
    stroke-width: 4;
}

.nodeConnection {
    stroke: #000;
    stroke-width: 4;
}

.nodeTypeText {
    text-anchor: middle;
    font-weight: bold;
    dominant-baseline: middle;
}

.nodeFieldName {
    dominant-baseline: middle;
}

.nodeTypeSeparator {
    stroke: #000;
    stroke-width: 4;
}

#svg-display {
    width: 100%;
    height: 100%;
}
